{% extends 'hoje/base.html' %}

{% load static %}

{% block hoje %}
  {% for card in cards %}
    <div class="col-xs-12 col-sm-12 col-md-4 d-flex align-items-stretch mb-3">
      <div class="card" id="{{ card.id }}">
        <img class="card-img" src="{{ card.imagem }}">        
          <div class="card-content">
            <h4>{{ card.titulo }}</h4>
            <span>{{ card.fonte }} · 1h</span>
            <p>{{ card.texto }}</p>
            <a href="{{ card.link }}" target="blank_" class="bttn">{{ card.fonte }}</a>
            <a href="#" class="bttn-lido" onclick="marcarLido('{{ card.id }}');return false;">Lido</a>            
          </div>
        </div>
    </div>  
  {% endfor %}
{% endblock %}