{% extends 'bender/base.html' %}

{% load static %}

{% block hoje %}
    {% for card in cards %}
    <a href="#" onclick="window.open('{{ card.link }}'); return false">
      <div class="card">
        <img class="card-image" src='{{ card.imagem }}' alt="">
        <div class="card-infos">
          <div class="chip color-blue">{{ card.title }}</div>
          <h2 class="card-title">{{ card.text|linebreaksbr }}</h2>                      
        </div>
      </div>
    </a>    
    {% endfor %}
{% endblock %}